{{> nHeader }}

<div class="notes_wrapper">



  <div class="cua">
    <div class="display_text">
      <span>Login/Sign Up</span>
    </div>

    <div class="row google_login" style="margin-left:15%; margin-right:25%">
      <div class="col-md-3">
        <a class="btn btn-outline-dark google_login_button" role="button" style="text-transform:none">
          <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
          Login with Google
        </a>
      </div>
    </div>

  </div>

</div>



{{!-- {{> quickLogin}} --}}

{{> footer }}